extends _template
block body
  header.border-bottom
    img(src="images/logoTruemoney.png", alt="").img-fluid.d-block.mx-auto.w-50.py-1
  section
    .container
      p.text-center.login__connectShopee-text เข้าสู่ระบบบัญชีทรูมันนี่ วอลเล็ท ของคุณ<br/>เพื่อเชื่อมต่อกับ Shopee
      button.btn.login__btn--truemoney.d-block.mx-auto เข้าสู่ระบบด้วยทรูมันนี่ วอลเล็ท
      .login__seperator.text-center หรือ
      button.btn.login__btn--website.d-block.mx-auto เข้าสู่ระบบด้วยทรูมันนี่ วอลเล็ท
      a(href='').login__link-register.text-center.d-block สมัครสมาชิกทรูมันนี่ วอลเล็ท