extends _template
block body
  .d-flex.justify-content-center.flex-column(style='height:100vh;')
    section.pb-5
      .container
        .d-flex.justify-content-center
          img(src="images/shopee.png", alt="" height='64')
          img(src="images/swap.png", alt="" height='64').mx-4
          img(src="images/truemoney.png", alt="" height='64')
    section.text-center
      .container
        .connect__name สมหญิง ใจดี
        .connect__permision.py-3 อนุญาตให้เข้าถึงข้อมูลทรูมันนี่ วอลเล็ท      
        .connect__detail.py-3 ชื่อ-นามสกุล, เบอร์โทรศัพท์, อีเมล, หักเงินในบัญชีทรูมันนี่ วอลเล็ท, เติมเงินด้วยบาร์โค้ด, ชำระเงินด้วยบาร์โค้ด, ...
        a(href='').connect__link ตั้งค่าการเข้าถึงข้อมูล
      .col-12
        a(href='')
          button.btn.next ถัดไป   