extends _template
block body
  .oauth
    section
      .container
        .d-flex.flex-column.success
          img(src="successIcon.png", alt="" width='96').d-block.mx-auto
          span.success__title ยืนยันตัวตนสำเร็จ
          span.success__text ขอบคุณสำหรับการยืนยันตัวตน คุณสามารถใช้งานทรูมันนี่ วอลเล็ท แบบเต็มประสิทธิภาพได้แล้ว
        .col-12.px-0
          a(href='welcome.html')
            button.btn.next.mb-4#check-invalid(type='submit') ถัดไป